<section class="container-fluid interview">
<div class="interview-text">
  <p class="text-center text-secondary font-bold">Interview und Kurz-Evaluation</p>
  <h2 class="text-center font-bold text-dark-blue">Die wesentlichen Bestandteile des Zulassungsverfahres</h2>
</div>
<div class="row mt-4 interview-first-row">
  <div class="col-md-5">
    <div class="text-dark-blue">
      <div class="card-body">
        <p class="card-title mb-4 text-dark-blue">Die Auswahl der zukünftigen UMCH-Studierenden erfolgt auf Grundlage
          der
          schriftlichen Bewerbungsunterlagen und unseres Zulassungsverfahrens.</h5>
        <p class="card-title mb-4 text-dark-blue">m mündlichen Teil des Zulassungsverfahrens geht es in erster Linie um
          die
          persönliche Qualifikation und Motivation des Bewerbers. Dazu können auch
          Fragen zu den von Ihnen eingereichten Bewerbungsunterlagen gehören
          (z. B. Arbeits- oder Praktikumsbescheinigungen für frühere Tätigkeiten im
          medizinischen Bereich oder ehrenamtliche Tätigkeiten usw.).</p>
        <p class="card-title mb-4 text-dark-blue">Der schriftliche Teil besteht aus 75 Multiple-Choice-Fragen zu
          Biologie,
          Chemie und Allgemeinwissen. Alle drei Bereiche sind gleich gewichtet.</p>
        <p class="card-title mb-4 text-dark-blue">Die Ergebnisse des schriftlichen und mündlichen Teils werden in einem
          Verhältnis von 60:40 in die Gesamtbewertung einbezogen.</p>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="">
      <div class="card-body">
        <img src="assets/ponisha2/4.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 interview-second-row">
  <div class="col-md-5 interview-card-light-blue">
    <div class="interview-card">
      <div class="card-header-one">
        <p class="ps-4 pt-2">Interview</p>
      </div>
      <div class="card-body" style=" padding: 35px;">
        <p class="card-title font-bold text-dark-blue">Sprache:</p>
        <p class="card-text text-dark-blue">Englisch</p>
        <p class="card-title font-bold text-dark-blue">Mögliche Themen:</p>
        <p class="card-text">- Qualifikation und Motivation für das Studium</p>
        <p class="card-text">- Bisherige Aktivitäten im medizinischen Bereich</p>
        <p class="card-text">- Vorstellung zum Karriereverlauf</p>
        <p class="card-text">- Kommunikations- und Empathiefähigkeiten</p>
      </div>
    </div>
  </div>
  <div class="col-md-5 interview-card-dark-blue">
    <div class="interview-card">
      <div class="card-header-two">
        <p class="ps-4 pt-2">Kurz-Evaluation</p>
      </div>
      <div class="card-body" style=" padding: 35px;">
        <p class="card-title font-bold text-dark-blue">Sprache:</p>
        <p class="card-text text-dark-blue">Englisch</p>
        <p class="card-text font-bold text-dark-blue">- Grundlegende Fragen zu Biologie
        </p>
        <p class="card-text font-bold text-dark-blue">- Grundlegende Fragen zu Chemie
        </p>
        <p class="card-text font-bold text-dark-blue">- Grundlegende Fragen zu</p>
        <p class="card-text font-bold text-dark-blue">- Allgemeinwissen</p>
        <p class="card-text font-bold text-dark-blue">- Gleiche Gewichtung der Themen
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4 interview-third-row">
  <div class="col-md-8 my-3">
    <div class="last-interview">
      <h4 class="text-light font-bold">Key Facts zum
        Zulassungsverfahren</h4>
      <div class="my-4" style="height: 2px; background-color: white;"></div>


      <h5 class="text-light font-bold">Wie viel Zeit habe ich für die beiden Bereiche?</h5>
      <p class="text-light">- Das Interview dauert 15-20 Minuten.</p>
      <p class="text-light">- Für die Evaluation (Multiple-Choice-Fragen) haben Sie 90 Minuten Zeit.</p>

      <div class="my-4" style="height: 2px; background-color: white;"></div>


      <h5 class="text-light font-bold">Wer das Zulassungsverfahren vollständig durchlaufen hat, erhält</h5>
      <p class="text-light">- nach Verfügbarkeit der Plätze eine Zusage für das Wintersemester 2024/2025 oder</p>
      <p class="text-light">- eine Absage</p>

      <div class="my-2" style="height: 2px; background-color: white;"></div>
      <p class="text-light mb-4">Eine etwaige Wartezeit können Sie mit der Teilnahme an einem unserer
        Vorbereitungskurse
        überbrücken. Wir bieten den 3 oder 12-wöchigen ,Medical Foundation Track“ an. Nähere
        Informationen hierzu finden Sie hier.</p>
    </div>
  </div>
  <div class="col-md-4 my-3">
    <div class="interview-card-one">
      <img src="assets/ponisha2/6.png" alt="6.png">
    </div>
  </div>
</div>
</section>


<section class="container-fluid section-padding interview">
<div class="center-text mb-4">
  <h5 class="text-secondary font-bold">Interview und Kurz-Evaluation</h5>
  <h1 class="text-center font-bold text-dark-blue">Die wesentlichen Bestandteile des Zulassungsverfahres</h1>
</div>

<!-- Row 1 -->
<div class="row justify-content-center mb-4">
  <div class="col-md-4">
    <p class="card-title mb-4 text-dark-blue">Die Auswahl der zukünftigen UMCH-Studierenden erfolgt auf Grundlage
      der
      schriftlichen Bewerbungsunterlagen und unseres Zulassungsverfahrens.</h5>
    <p class="card-title mb-4 text-dark-blue">m mündlichen Teil des Zulassungsverfahrens geht es in erster Linie um
      die
      persönliche Qualifikation und Motivation des Bewerbers. Dazu können auch
      Fragen zu den von Ihnen eingereichten Bewerbungsunterlagen gehören
      (z. B. Arbeits- oder Praktikumsbescheinigungen für frühere Tätigkeiten im
      medizinischen Bereich oder ehrenamtliche Tätigkeiten usw.).</p>
    <p class="card-title mb-4 text-dark-blue">Der schriftliche Teil besteht aus 75 Multiple-Choice-Fragen zu
      Biologie,
      Chemie und Allgemeinwissen. Alle drei Bereiche sind gleich gewichtet.</p>
    <p class="card-title mb-4 text-dark-blue">Die Ergebnisse des schriftlichen und mündlichen Teils werden in einem
      Verhältnis von 60:40 in die Gesamtbewertung einbezogen.</p>
  </div>
  <div class="col-md-4 text-center">
    <img src="assets/img/4.png" alt="">
  </div>
</div>

<!-- Row 2 -->
<div class="row justify-content-center mb-4">
  <div class="col-md-4 text-center">
    <div class="interview-card">
      <div class="card-header-one">
        <p>Interview</p>
      </div>
      <div class="card-body">
        <p class="card-title" style="color: #1b3a54;font-weight: bold;">Sprache:</p>
        <p class="card-text">Englisch</p>

        <p class="card-title" style="color: #1b3a54;font-weight: bold;">Mögliche Themen:</p>
        <p class="card-text">- Qualifikation und Motivation für das Studium</p>
        <p class="card-text">- Bisherige Aktivitäten im medizinischen Bereich</p>
        <p class="card-text">- Vorstellung zum Karriereverlauf</p>
        <p class="card-text">- Kommunikations- und Empathiefähigkeiten</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="interview-card">
      <div class="card-header-two">
        <p>Kurz-Evaluation</p>
      </div>
      <div class="card-body">
        <p class="card-title" style="color: #1b3a54;font-weight: bold;">Sprache:</p>
        <p class="card-text">Englisch</p>
        <p style="color: #1b3a54;font-weight: bold;" class="card-text">- Grundlegende Fragen zu Biologie
        </p>
        <p style="color: #1b3a54;font-weight: bold;" class="card-text">- Grundlegende Fragen zu Chemie
        </p>
        <p style="color: #1b3a54;font-weight: bold;" class="card-text">- Grundlegende Fragen zu</p>
        <p style="color: #1b3a54;font-weight: bold;" class="card-text">- Allgemeinwissen</p>
        <p style="color: #1b3a54;font-weight: bold;" class="card-text">- Gleiche Gewichtung der Themen
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Row 3 -->
<div class="row justify-content-center mb-4">
  <div class="col-md-4 text-center">
    <div class="last-interview">
      <div class="">
        <h4 style="color: #fff;">Key Facts zum
          Zulassungsverfahren</h4>
        <div class="responsive-separator"></div>
        <h5 style="color: #fff;margin-bottom: 20px;">Wie viel Zeit habe ich für die beiden Bereiche?
        </h5>
        <p style="color: #fff;">- Das Interview dauert 15-20 Minuten.</p>
        <p style="color: #fff;">- Für die Evaluation (Multiple-Choice-Fragen) haben Sie 90 Minuten Zeit.
        </p>
        <div class="responsive-separator"></div>
        <h5 style="color: #fff;margin-bottom: 20px;">Wer das Zulassungsverfahren vollständig
          durchlaufen hat, erhält</h5>
        <p style="color: #fff;">- nach Verfügbarkeit der Plätze eine Zusage für das Wintersemester
          2024/2025
          oder</p>
        <p style="color: #fff;">- eine Absage</p>
        <div class="responsive-separator"></div>
        <p style="color: #fff;">Eine etwaige Wartezeit können Sie mit der Teilnahme an einem unserer
          Vorbereitungskurse
          überbrücken. Wir bieten den 3 oder 12-wöchigen ,,Medical Foundation Track“ an. Nähere
          Informationen hierzu finden Sie hier.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center" style="height: 50%;">
    <img src="assets/img/6.png" alt="">
  </div>
</div>

</section>


.interview {
    padding: 50px 10px;
    background-color: #eff2f5;
    margin: 10px auto;
}

.interview-text {
    text-align: center;

}

.interview-card {
    height: 100%;
    background-color: #fff;
    margin-top: 50px;
}

.interview-card img {
    width: 100%;
    background-color: #fff;
}

.interview-card .card-body {
    background-color: #fff;
    padding: 20px;
}

.last-interview {
    background: linear-gradient(to left, #00678f, #018dc0);
    margin: 50px 0;
    padding: 50px;
    height: 75%;
}

.interview-card-one {
    height: 75%;
    margin-top: 50px;
}

.interview-card-one img {
    height: 100%;
}

.interview-card {
    height: 100%;
    background-color: #fff;
    margin-top: 50px;
}

.interview-card img {
    width: 100%;
    background-color: #fff;
}

.interview-card .card-body {
    background-color: #fff;
    padding: 20px;
}

.last-interview {
    background: linear-gradient(to left, #00678f, #018dc0);
    padding: 50px;
    height: 75%;
}

.card-header-one {
    background-color: var(--light-blue);
    color: #333;
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
}

.card-header-two {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 12px;
    font-weight: bold;
    font-size: 20px;

}


@media screen and (max-width: 800px) {
    .interview .interview-first-row {
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
    }

    .interview .interview-first-row img {
        margin-top: 10px;
        width: 90%;
        height: 100%;
    }

    .interview-card-light-blue,
    .interview-card-dark-blue {
        width: 90%;
        margin: 10px auto;
    }

    .interview-third-row {}

    .last-interview {
        height: 100%;
        width: 90%;
        margin: 10px auto 2px auto;
    }

    .interview-card-one img {
        height: 100%;
        width: 90%;
        margin: 0 20px;
    }

}